body {
    font-family: var(--primaryFont) !important;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primaryFont);
}

a,
button {
    transition: all ease 0.5s;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
form,
input,
select,
textarea,
ul,
li {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
}

/* p {
    font-size: 16px;
} */

a {
    transition: all ease 0.5s;
    text-decoration: none !important;
}

.clear {
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
}

:root {
    --primary: #2EE1D5;
    --secondary: #1D2727;
    --black: #000;
    --text: #646A75;
    --white: #FFF;
    --primaryFont : "Urbanist", sans-serif;;
}


body::-webkit-scrollbar {
	width: .5em;
	background-color: transparent;
}
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
}
body::-webkit-scrollbar-thumb {
	background-color: #ccc;
    border-radius: 30px;
}

.topBg{
    background: linear-gradient(58deg, #000 19.15%, #2EE1D5 198.11%);
}
header .logo-img {
    max-height: 30px;
}
header {
    padding: 32px 0 20px;
}
header .nav-link {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 0 !important;
}

header .nav-link:hover, header .nav-link:focus, header .nav-link.active{ color: var(--primary) !important; }

header nav.navbar { padding: 0; }

header .btn-Link.mobOnly { display: none; } 

header ul.navbar-nav li {
    padding: 0 20px;
    align-items: center;
    display: inline-flex;
}
header .nav-link.btn {
    border: 0.5px solid var(--white) !important;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    height: 48px;
    padding: 6px 20px !important;
    justify-content: center;
    align-items: center;
    outline: 0;
    box-shadow: inherit;
    letter-spacing: 0.2px;
}
header ul.navbar-nav li.nav-item.btn-Link {
    padding-right: 0;
    padding-left: 12px;
}
header ul.navbar-nav li.nav-item.dropdown.btn-Link {
    margin-left: 20px;
    padding-left: 0 !important;
}
header .nav-link.btn.dropdown-toggle::after{ display: none; }

header .nav-link.btn.btn-login, header .nav-link.btn.btn-login:hover{
    background-color: var(--white);
    color: var(--black) !important;
    outline: 0;
    box-shadow: inherit;
}
ul.dropdown-menu.signUp.show {
    right: 0;
    left: inherit !important;
}
.logoMobile, .mobileHeader{ display: none; }

header .btn-close{ color: var(--white); }

header .navbar .navbar-collapse.alignRight{ justify-content: end; }

header .navbar .dropdown-menu{
    min-width: 200px;
    padding: 8px 16px;
    align-items: flex-start;
    background-color: var(--black);
    border-radius: 12px;
    margin-top: 3px;
}
header .navbar .dropdown-menu li{
    padding: 8px 0;
    display: flex;
}
header .navbar .dropdown-menu .nav-link{
    color: var(--white);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
header .navbar .dropdown-menu .nav-link:hover{
    color: var(--primary);
}
header .headerwraper {
    padding: 0px 32px;
}
header#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.sticky {
    width: 100%;
    padding: 17px 0 20px;
}
.sticky .headerwraper{
    border-radius: 65px;
    padding: 15px 32px;
    background: var(--black);
    transition: .5s;
}
body.offcanvas-active{
    overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
    height: 100%;
    width:0%;
    z-index: 30;
    position: fixed;
    top: 0;
    right: 0;
    opacity:0;
    visibility:hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
    z-index:10; 
    transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

.videoWraper{
    position: relative;
    text-align: center;
}
video.video-banner {
    width: 100%;
    max-width: 1024px;
    height: 574px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 18px;
    max-height: 574px;
}

.bannerWraper .getstartWrape.mt-5{ margin-top: 40px !important; }

.bannerWraper {
    background: linear-gradient(58deg, #000 19.15%, #2EE1D5 198.11%);
}
.bnr_content{ 
    color: var(--white); 
    text-align: center; 
    padding: 100px 0 40px;
}

.bnr_content h1{
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; 
    margin: 0 0 20px;
    padding: 0;
}
.bnr_content h1 strong{
    font-weight: 600;
    color: var(--primary);
}
.bnr_content h6{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
.bnr_content .paragraph{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

    max-width: 1000px;
    margin: 0 auto;
}
.bnr_content.innerBnr .paragraph{  max-width: 1040px; }

.featured_img.innerBnr .img_space img{ max-height: 470px; }

.paragraph{
    font-size:18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
    color: var(--white);
}
.appIcons .btnSpace { display: inline-flex; margin: 0px 4px; }

.appIcons .btnSpace img { height: 48px; width: auto; }

.appIcons .btnSpace span { 
    display: block;  
    color: var(--white);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px; 
    padding: 2px 0 0;
}

.container { max-width: 1285px; }

.container.headCont,  .ftrAdjut .container{ max-width: 1350px; }

.getstartWraper{
    background-color: var(--secondary);
    color: var(--white);
    padding: 32px 48px;
    border-radius: 24px;
}

.getstartWraper.signupWrap { padding: 32px 40px; }
 
.algTxt{
    display: flex;
    align-items: center;
}
.getstartWraper h2{
    font-size: 32px;
    font-weight: 600;
    margin: 0px 0 15px;
    padding: 0;
    line-height: 40px;
}
.getstartWraper h2 strong{ font-weight: 600; color: var(--primary);}

.getstartWraper .getBtn.btn {
    display: inline-flex;
    min-width: 160px;
    height: 48px;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}
.getstartWraper .getBtn.btn:hover {
    background-color: var(--primary);
}

.getstartWraper h6{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 5px 0;
    padding: 0;
}
.mainTitle{
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.mainTitle strong{  font-weight: 600; color: var(--primary);}

.imgBg{
    width: 100%;
    padding: 80px 0;
    position: relative;
}
.imgBg::after {
    content: ' ';
    width: calc(100% + 90px) !important;
    margin: 0 -45px;
    background-image: url(../images/others/bg-vect.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    z-index: -1;
}
.getinwraper{
    background-color: var(--black);
}

.secSpace{
    padding: 60px 0;
}

.form-control{
    min-height: 56px;
    padding: 16px 24px;
    width: 100%;
    border-radius: 8px;
    outline: 0 !important;
    box-shadow: inherit !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}
.getinwraper .form-control{
    background: rgba(255, 255, 255, 0.08);
    border: 0;
    color: var(--white);
    resize: none;
}
.white::-webkit-input-placeholder { 
    color: var(--white);
}
.white::-moz-placeholder { 
    color: var(--white);
}
.white:-ms-input-placeholder { 
    color: var(--white);
}
.white:-moz-placeholder { 
    color: var(--white);
}

.btn-primary{
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    border: 1px solid var(--white);
    border-radius: 8px;
    min-height: 48px;
    padding: 6px 32px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: var(--primary) !important;
    color: var(--black) !important;
    border-color: var(--primary) !important;
}
.tabsSty .contSpc .btn-primary{  min-height: 40px; }

.ftrAdjut .getBtn.btn { min-width: 200px; }

.homeOnly{ padding-bottom: 140px; }

.ftrAdjut{
    padding: 80px 0 25px;
    background: #141414;
}
.ftrAdjut .getstartWraper{
    margin: -160px 0 0;
    z-index: 1;
    position: relative;
}

footer{
    background: #141414;
    color: var(--white);
    padding: 48px 0;
}

footer .f_logo img {
    max-height: 48px;
    width: auto;
}
.f_about h6{
    font-size: 18px;
    color: var(--White, #FFF);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.f_about .appIcons .btnSpace{ text-align: center; }

.footer_wrapper .appIcons .btnSpace img {  height: 40px !important; }

.f_about .appIcons .btnSpace span{ font-size: 9px; }

.footerBtm{
    border-top: 0.5px solid rgb(255 255 255 / 21%);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBtm .copyrights{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}
.socialFtr ul li{
    list-style: none;
    display: inline-block;
    padding: 0 0 0 10px;
}
.socialFtr ul li a{
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-flex;
    min-width: 48px;
    height: 48px;
    padding: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialFtr ul li a:hover{
    background-color: var(--primary);
}
.copyrights i{ margin: 0 3px; font-size: 13px; }

footer .f_links ul {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
footer .f_links ul li{ margin-bottom: 24px; }

footer .f_links ul li:last-child{ margin-bottom: 0; }

footer .f_links ul li a { color: var(--white); }

footer .f_links ul li a:hover { color: var(--primary); }

.ftrWrap{ overflow: hidden; }

.whyChoose .chooseBx {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.10);
    padding: 24px;
    color: var(--white);
    min-height: 288px;
    border: 0.5px solid transparent
}
.whyChoose .chooseBx:hover{ border: 0.5px solid #209F96;  }

.chooseBx .contArea h4{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 10px 0;
    padding: 0;
}
.row.gridPad{ padding: 0 4px; }

.gridPad{ padding: 0 8px; }

.secSpace.whyChoose{ padding-top: 40px; }

.chooseBx .contArea .paragraph{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.chooseBx .imgArea {
    min-height: 60px;
    margin-bottom: 15px;
}
.chooseBx .imgArea img{ max-height: 56px; width: auto; }

.whyChoose .titleArea, .techWrap .titleArea {
    margin-bottom: 40px;
}

.ftrWrap .appIcons .btnSpace img{ height: 69px; width: auto; }

.priceWraper{
    background: linear-gradient(314deg, #000 32.62%, #2EE1D5 239.74%);
}
.priceBox{
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.08);
    padding: 60px 38px 38px 38px;
    color: var(--white);
    position: relative;
    min-height: 460px;
    overflow: hidden;
}
.priceBox .offerLabel {
    padding: 5px 15px;
    background: var(--primary);
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    min-height: 38px;
}
.priceBox h3{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.priceBox h3 strong{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 10px;
}
.priceBox h6{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin: 16px 0;
}
.priceBox ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.priceBox ul li{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    margin: 16px 0;
}
.priceBox ul li::before{
    content: ' ';
    background-image: url(../images/icons/tick.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
}
.priceBox .btn-primary{ width: 100%; font-size: 16px; min-height: 48px; margin: 10px 0 0;}

.priceWraper .titleArea .mainTitle strong{ display: block; }

.priceWraper .titleArea .mainTitle{ margin-bottom: 48px; }

.titlSpace{ margin-bottom: 64px; }

.prdctList.tab-pane .contSpc {  padding-left: 8%; }

.tabFrame{
    background-image: url(../images/others/frame-tab.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}
.tabFrame::before{
    background-image: url(../images/others/frame-tab1.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content:  ' ';
}
.tabFrame, .tabFrame::before{
    width: 502px;
    height: 339px;
}

.imgFrames{ position: relative; text-align: center; }

.frame_shadow{
    position: absolute;
    left: 9%;
    top: -79px;
    max-width: 100%;
    opacity: 1;
    z-index: 0;
    width: 670px;
    height: 520px;
}
.tabFrame .prdImg{ min-height: 315px; width: 100%; object-fit: cover; }

.tabsSty .aligCont{
    display: flex;
    align-items: center;
}
/* .imgFrames.webOnly .webImg .prdImg { width: 60%; } */

.imgFrames.mobOnly .tabFrame{
    background-image: url(../images/others/mobile-frame.png);
    width: 279px;
    height: 574px;
    padding: 10px;
    border-radius: 45px;
}
.imgFrames.mobOnly .tabFrame::before{
    background-image: url(../images/others/mobile-frame1.png);
    width: 279px;
    height: 574px;
}
.imgFrames.mobOnly .tabFrame .prdImg{ width: 100%; min-height: 555px; object-fit: cover; }

.imgFrames.mobOnly .tabFrame::after{
    background-image: url(../images/others/FrontCam.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 69px;
    height: 20px;
    position: absolute;
    left: 118px;
    top: 20px;
    display: block;
    content: ' ';
    z-index: 1;
}
.imgFrames.mobOnly, .mobImg.mobOnly{ display: none; }

.tabsSty .nav.nav-tabs {
    background: transparent;
    min-height: 74px;
    border: 0;
    overflow: hidden;

    margin: 0 auto;
    width: auto;
    justify-content: center;
    display: flex;
}
.tabsSty .nav-tabs .nav-item {
    background: rgba(255, 255, 255, 0.10);
    max-width: 144px;
    overflow: hidden;
}
.tabsSty .nav-tabs .nav-item:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.tabsSty .nav-tabs .nav-item:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tabsSty .nav-tabs .nav-link{
    display: inline-flex;
    padding: 10px 0px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 0;
    border-radius: 0;
    border-bottom: 4px solid transparent;
    min-height: 74px;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 

    opacity: 0.8;
}
.tabsSty .nav-tabs .nav-link.active {
    color: var(--white);
    background-color: transparent;
    border-bottom: 4px solid var(--primary);
    font-weight: 600;
    opacity: 1;
}
.tabsSty .nav-tabs span.imgSpc {
    display: block;
    height: 35px;
}
.tabsSty .nav-tabs span.imgSpc img { max-height: 26px; }


.prdctList .paragraph{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 20px; 
}
.tabsSty .tab-content{ margin-top: 40px; }

.tabsSty .tab-content.ftrOnly{ margin-top: 48px; }

.tabsSty .tab-content.vertTab-cont{ margin: 0px; }

.appDownload .getstartWraper{ padding-top: 32px; padding-bottom: 32px; }

.bnr_content.innerBnr h1 {
    font-size: 56px;
    line-height: 64px;
}
.bnr_content.innerBnr h1 strong{
    display: block;
}
.abt_content .paragraph {
    font-size: 20px;
    line-height: inherit;
}
.abt_content .paragraph p{
    padding: 0;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
}
.teamBxs .teamImg {
    border-radius: 20px;
    overflow: hidden;
    height: 440px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teamBxs .teamImg img {
    object-fit: cover;
    min-height: 440px;
    width: 100%;
}
.teamSpace{ padding: 0 16px; }

.row.teamSpace {
    padding: 0 0px;
    margin: 0 -15px;
}
.teamWraper, .norm_conts{ color: var(--white); }

.teamBxs h4 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin: 0 0 12px;
    padding: 0;
}
.teamBxs  .paragraph {
    font-size: 18px;
    line-height: 24px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.privacy .innerBnr h1{ margin: 0 !important; }

.privacy .innerBnr h1 strong{ display: inline-block; }

.privacy{ background: transparent; padding-bottom: 0 !important; }

.privacy .bnr_content{ padding-bottom: 0; }

.norm_conts .paragraph, .norm_conts .paragraph p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 20px;
}
.norm_conts .paragraph strong, .norm_conts .paragraph p strong { font-weight: 600; }

.norm_conts .paragraph p{ line-height: 20px; }

.norm_conts a{ color: var(--white);  text-decoration: underline !important;}

.norm_conts h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 25px 0 12px;
    padding: 0;
}
.norm_conts ul li {
    list-style: disc;
    margin: 0 0 5px;
}
.norm_conts ul { 
    padding: 0 0 0 15px; 
    margin: 0 0 20px;    
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; 
}

.secSpace.norm_conts { padding-bottom: 150px; padding-top: 48px; } 

.bgRemove{ background: transparent; }

.titleAdjust .mainTitle{ max-width: 1000px; margin: 0 auto; }

/* .featuredTabs .tabsSty .nav.nav-tabs {
    width: 100%;
    justify-content: space-between;
    display: flex;
    max-width: 1080px;
}
.featuredTabs .tabsSty .nav.nav-tabs .nav-item { max-width: 100%; } */

.featuredTabs .tabFrame, .featuredTabs .tabFrame::before {
    width: 491px;
    height: 330px;
}
.featuredTabs .tabFrame{
    padding: 10px;
    border-radius: 15px;
}
.featuredTabs .tabFrame .prdImg { min-height: 310px; }

.featuredTabs .frame_shadow{ left: 0; }

.featuredTabs{ color: var(--white); }

.featuredTabs .vertTab h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.featuredTabs .vertTab .nav-link {
    border-radius: 0;
    text-align: left;
    background: transparent;
    color: var(--white);
    padding: 0 20px;
    box-shadow: inherit;
    outline: 0;
    margin-left: -4px;
    border-left: 4px solid transparent;
}
.featuredTabs .vertTab h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin: 5px 0;
}
.featuredTabs .vertTab .nav-link.active{
    border-left: 4px solid var(--primary);
}
.featuredTabs .tabsSty .nav-tabs .nav-item {  max-width: 180px; }

.featuredTabs .vertTab .nav-link.active h3{
    color: var(--primary);
}
.featuredTabs .vertTab .tabLine{
    padding: 0 0 32px;
    border-left: 4px solid rgba(46, 225, 213, 0.20);
}
.featuredTabs .vertTab .tabLine:last-child{ padding-bottom: 0; }

.featuredTabs .tabsSty .aligCont { align-items: inherit; }

.wpcf7-response-output {
    background: #ff00000f;
    color: #dc3232;
    border: 0.5px solid #ff000052 !important;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.wpcf7-not-valid-tip {  font-size: 14px; }

.rc-anchor-compact .rc-anchor-content { height: 45px !important; }

.rc-anchor-compact { height: 100px  !important;  }

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b4505c !important;
    background: #46b45029 !important;
    color: #46b450 !important;
}
.bannerWraper .getstartWraper.mt-5 {
    margin-top: 40px !important;
}
.newShadow{
    background: linear-gradient(44deg, #000 32.13%, #2EE1D5 237.89%);
}
.secSpace.whyChoose.inner{ padding-top: 60px; }
 
.whyChoose.inner .chooseBx { min-height: 244px; }

.abt_content .spcWeb{ padding-left: 4%; }

.abt_content .spcWeb .paragraph p:last-child{ margin-bottom: 0; }

.typed-cursor{
    color: var(--primary);
}
.webImg, .mobImg{
    position: relative;
    z-index: 1;
}
.webImg img{ height: 420px; object-fit: cover; }

.txtHeight { min-height: 80px; }

.priceArea .priceBox ul {
	min-height:240px;
}
.priceArea .priceBox h3 span {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.priceArea .col-md-6:first-child h4{ display: none; }



/* MEDIA-QUERY START */
@media all and (max-width: 1100px) {

    .tabFrame, .tabFrame::before {  width: 570px; height: 384px;  }

    .tabFrame{ padding: 15px; border-radius: 18px;}

    .tabFrame .prdImg {  min-height: 352px; }

    .frame_shadow {   left: 11%;   top: -63px;  max-width: 79%;}

    .featuredTabs .tabFrame { padding: 10px;  border-radius: 15px; }

    .featuredTabs .tabFrame .prdImg { min-height: 295px; }

    .featuredTabs .tabFrame, .featuredTabs .tabFrame::before {  width: 465px;  height: 314px; }
}
@media all and (max-width: 991px) {

    .bnr_content h1 {
        font-size: 56px;
        line-height: 70px;
    }
    .bnr_content h6 {
        font-size: 20px;
        line-height: 26px;
    }
    header ul.navbar-nav li {
        padding: 0 16px;
    }
    .bnr_content .paragraph, .getstartWraper h6 {
        font-size: 20px;
        line-height: 30px;
    }
    .titlSpace {
        margin-bottom: 35px;
    }
    .mainTitle {
        font-size: 38px;
        margin-bottom: 20px;
    }
    .container {      
        padding: 0 16px;
    }
    .whyChoose .chooseBx {
        margin-bottom: 20px;
    }
    .priceBox { padding-left: 30px; padding-right: 30px;}
  
    .bnr_content.innerBnr h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .tabsSty .tab-content.vertTab-cont { margin: 0 0; }

    .imgFrames.webOnly {  margin-bottom: 30px; }

    .featuredTabs .frame_shadow {
        left: 12%;
        width: 638px;
        height: 456px;
    }
    .tabsSty .tab-content {  margin-top: 10px; }

}
@media all and (max-width: 767px) {
    .logoMobile{ display: inline-block; }

    .offcanvas-header, .mobileHeader{ display:block; }
    .collapse:not(.show) {  display: block;}

    .mobile-offcanvas{
        visibility: hidden;
        transform:translateX(-100%);
        background-color: #000000 !important;
        border-radius:0; 
        display:block;
        position: fixed;
        top: 0; left:0;
        height: 100%;
        z-index: 1200;
        width:100%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: visibility .3s ease-in-out, transform .3s ease-in-out;
    }
    .mobile-offcanvas.show{
        visibility: visible;
        transform: translateX(0);
        padding: 10px 24px 24px;
    }
    .mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
        display: block;
    }
    .bnr_content h1 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    .bnr_content h6 {
        font-size: 18px;
        line-height: 24px;
    }
    .appIcons .btnSpace {
        max-width: 120px;
    }
    .appIcons .btnSpace img {
        height: 36px !important;
    }
    .bnr_content .paragraph {
        font-size: 16px;
        line-height: 24px;
    }
    .bannerWraper .appIcons.my-4{    
         margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .bnr_content {
        padding: 70px 0 40px;
    }
    video.video-banner {
        border-radius: 5px;
        height: 100%;
    }
    .navbar-brand {
        display: inline-block;
        padding: 0;
    }
   
    .getstartWraper h2 {
        font-size: 24px;
        line-height: normal;
    }
    .getstartWraper h6 {
        font-size: 16px;
        line-height: 20px;
    }
    .getstartWraper, .getstartWraper.signupWrap{ padding: 24px 16px; }

    .getstartWraper .getBtn.btn {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .paragraph {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }
    .imgBg {
        padding: 32px 0 25px;
        margin-bottom: 0 !important;
    }
    .mainTitle.mb-4 { margin-bottom: 0.8rem !important; }
    .secSpace, .secSpace.norm_conts, .secSpace.whyChoose.inner {
        padding: 40px 0;
    }
    .ftrWrap{ padding-top: 10px; }
    .imgBg::after {
        width: 100% !important;
        margin: 0 0px;
        height: 95%;
    }

    .appIcons .btnSpace span {
        font-weight: 300;
        padding: 2px 0;
    }
    .ftrAdjut {
        padding: 80px 0 0px;
        background: var(--black);
    }
    .ftrAdjut .getstartWraper {
        margin: -80px 0 0;
    }
    .mobileHeader, .colapHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .btn-nav_toggle, header .btn-close{
        padding: 0 !important;
        background: transparent;
        outline: 0;
        box-shadow: inherit;
        color: var(--white);
        font-size: 30px;
        margin: 0 !important;
        line-height: inherit !important;
    }
    .colapHeader {
        padding: 10px 0 15px;
    }
    .mainTitle {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .mainTitle.mb-3 {
        margin-bottom: 1.3rem !important;
    }
    .btn-Link.mobHide{ display: none; }

    header .nav-link {
        font-size: 16px;
        line-height: 20px;
        display: block;
        width: 100%;
        padding: 10px 0px !important;
    }
    header .btn-Link.mobOnly {
        padding-bottom: 0px !important;
        padding-top: 12px !important;
        display: block;
    }
    header ul.navbar-nav {
        margin: 10px 0;
    }
    header ul.navbar-nav li {
        padding: 10px 0 !important;
        margin: 0;
    }
    header .btn-close {
        color: var(--white) !important;
        font-size: 27px !important;
        opacity: 1 !important;
        height: auto;
    }
    header, .sticky {
        padding: 10px 0;
    }
    .sticky .headerwraper {
        padding: 6px 16px;
        margin: 0 10px;
    }
    header .headerwraper {
        padding: 6px 16px;
    }
    .container.headCont {
        padding: 6px 0px;
    }
  
    .getstartWraper.signupWrap h2{
        font-size: 24px;
    }
    footer{ background-color: var(--black);}

    footer .f_logo img { max-height: 40px; }
    .f_about h6 {
        font-size: 16px;
        line-height: 20px;
    }
    footer .f_links ul {
        font-size: 20px;
        line-height: 24px;
    }
    footer .f_links ul li {
        margin-bottom: 28px;
    }
    footer .f_links ul {
        margin: 10px 0;
    }

    .footerBtm {
        align-items: inherit;
        flex-direction: column-reverse;
        justify-content: left;
    }
    .socialFtr ul li:first-child{ padding-left: 0; }
    .footerBtm .copyrights {
        font-size: 12px;
        line-height: 16px;
        margin: 15px 0 0;
    }
    .getinwraper .btn-primary{ width: 100%; }

    .getinwraper .formSpc{ margin-top: 30px; }

    .whyChoose .titleArea {  margin-bottom: 30px;  }

    .chooseBx .imgArea img {   max-height: 48px; }

    .chooseBx .imgArea { min-height: 50px; margin-bottom: 20px; }

    .chooseBx .contArea h4 {
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 13px;
    }
    .chooseBx .contArea .paragraph {
        font-size: 14px;
        line-height: 18px;
    }
    .whyChoose .chooseBx{ min-height: 240px; }

    .priceBox h3 { font-size: 56px; }
    .priceBox h6 {
        font-size: 20px;
        line-height: 24px;
    }
    .priceBox ul li {
        font-size: 16px;
        line-height: 24px;
    }
    .priceBox .btn-primary {
        font-size: 16px;
        min-height: 48px;
    }
    .priceBox {  padding: 58px 20px 20px 20px;  margin-bottom: 20px; }

    .priceWraper .titleArea .mainTitle, .titlSpace {   margin-bottom: 32px; }

    .imgFrames.webOnly, .webImg.webOnly{ display: none; }

    .imgFrames.mobOnly, .mobImg.mobOnly { display: block; margin-top: 10px; }

    .mobImg.mobOnly img.prdImg {
        height: 270px;
        object-fit: cover;
    }

    .tabsSty .btn-primary{ width: 100%; }

    .prdctList .paragraph { font-size: 18px; line-height: 24px; }

    .tabsSty .nav-tabs span.imgSpc img { max-height: 32px; }

    .techWrap .titleArea { margin-bottom: 40px; }
 
    .tabsSty .tab-content, .tabsSty .tab-content.ftrOnly { margin-top: 0; }

    .bnr_content.innerBnr h1 {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 20px;
    }
    .abt_content .paragraph p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .abt_content .mainTitle{ margin-bottom: 32px; }

    .teamBxs .teamImg { height: 240px; margin-bottom: 20px; }

    .teamBxs .teamImg img{ min-height: 240px; }

    .teamBxs h4 { font-size: 20px;  line-height: 28px; }

    .teamBxs .paragraph {
        font-size: 14px;
        line-height: 18px;
    }
    .teamSpace { margin-bottom: 32px; }

    .teamSpace .teamSpace:last-child{ margin-bottom: 0; }

    .appDownload .appIcons .btnSpace img {  height: 46px !important; }

    .appDownload .appIcons .btnSpace { max-width: inherit; }

    .appDownload .getstartWraper.signupWrap h2{ padding: 0; margin-bottom: 20px !important; }

    .appDownload .text-end { text-align: center !important; } 

    .appDownload .getstartWraper {  padding: 16px 24px; }

    .norm_conts .paragraph, .norm_conts .paragraph p, .norm_conts ul { margin: 0 0 15px; font-size: 14px;  line-height: 18px; }

    .norm_conts h6 {  font-size: 14px; font-weight: 700; margin: 20px 0 10px; }

    .featuredTabs .imgFrames.mobOnly {  margin: 30px 0; }

    .vertTab {  margin: 10px 0; }

    .featuredTabs .vertTab h3 { font-size: 20px; }

    .featuredTabs .vertTab h6 { font-size: 14px;  line-height: 18px; }

    .featuredTabs .vertTab .tabLine { padding: 0 0 30px; }

    .bnr_content.innerBnr h1 strong{ display: inline-block; }

    .abt_content .spcWeb { padding-left: calc(var(--bs-gutter-x)* .5); }

    .txtHeight { min-height: 100px; }

    header .logo-img { max-height: 28px; }

    .f_about .appIcons .btnSpace{ margin-left: 0; margin-right: 8px; }  

    .webImg {  padding: 30px 0; }

    .appDownload .appIcons.my-2{ margin-bottom: 0 !important; }

    .prdctList.tab-pane .contSpc{ calc(var(--bs-gutter-x) * .5) }

}
@media all and (max-width: 580px) {
    .tabsSty .nav-tabs .nav-link{ font-size: 12px; }
    
   

}
@media all and (max-width: 480px) {
    .bannerWraper .getstartWraper h2 strong {  display: block; }

    .getstartWraper.signupWrap h2{ padding-right: 2%; }

    .appDownload .getstartWraper.signupWrap h2{ padding: 0; }

    .scrollDiv {
        max-width: 600px;
        overflow-x: scroll;
        margin: 0 -16px;
    }
    .tabsSty  .scrollDiv .nav.nav-tabs{  width: 500px;}
    
    .tabsSty .scrollDiv .nav-tabs .nav-item:first-child, .tabsSty .scrollDiv .nav-tabs .nav-item:last-child{ border-radius: 0; }
    /* video.video-banner { max-height: 215px; } */
   
    .appDownload .appIcons .btnSpace img {   height: 42px !important;  }

    .appDownload .appIcons {  display: flex; justify-content: flex-start;  }

    .appDownload .appIcons .btnSpace{ margin-left: 0; margin-right: 8px; }


 
}
@media all and (max-width: 400px) {
    .getstartWraper.signupWrap h2{ padding-right: 0%; }
    .appDownload .appIcons .btnSpace {   margin-bottom: 10px; }
}

@media all and (max-width: 360px) {
    .bnr_content h1 {  font-size: 33px; line-height: 40px; }
    .getstartWraper h2 { font-size: 28px; }
    .mainTitle {  font-size: 32px;  line-height: 34px; }
    .priceBox h3 { font-size: 46px; }
    .txtHeight { min-height: 85px; }
   
}
@media all and (max-width: 320px) {
    .imgFrames.mobOnly .tabFrame, .imgFrames.mobOnly .tabFrame::before { width: 255px;  height: 524px;  padding: 10px; border-radius: 14px; }
    .imgFrames.mobOnly .tabFrame .prdImg {  min-height: 510px; }
}